nav{
    height: 70px !important;
}
@media (max-width: 1000px) {
    #navbarNavDropdown{
        position: absolute;
        left: 0;
        top: 70px;
        height: 100vh !important;
        width: 0 ;
        background: black;
        display: none;
        transition: width 0.5s;
        box-sizing: content-box;
        z-index: 99999;
    }
    #navbarNavDropdown ul.navbar-nav{
        padding-left: 20px;
    }
}
.post-div div.border{
    box-shadow: 0 2px 19px -5px rgba(0, 0, 0, 0.16);
    border-radius: 5px;
}
.post-div div.border .img-div{
    height: 200px;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 5px 5px 0 0;
}
.post-div div.border p.content{
    height: 70px;
    overflow: scroll;
}
